!!!
%html{class: "js canvas canvastext display-table"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= content_for?(:title) ? yield(:title) : GeventAnalysis::Application::CONSTS[:app_name]
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    = stylesheet_link_tag "application", :media => "all"    
    = javascript_include_tag "application"

    = csrf_meta_tags
    = yield(:head)
  %body{:class => "home #{params[:type]!="new_user" && cookies[:bunch__nav]!="collapsed" ? 'nav-open' : ''}"}
    - if params[:type] != "new_user"
      %nav{id: "nav", class: "dd-menu"}
        .nav-inner
          = link_to "#", data:{url: "#"}, class: "good-burger" do
            %i
          = render 'shared/left_side'
    #content
      #content__inner
        = render 'layouts/navigation'
        - if params[:type] != "new_user"
          .header.header--page
            = render 'shared/breadcrumbs'
        %section
          .main-content#right_main_content
            = yield
      = render 'layouts/footer'